h3{
    margin: 0;
    font-size: 3rem;
    color:#74AD5C;
    cursor: pointer;
}
header{
    position: fixed;
    background: #292929;
    min-height: 60px;
    width: 100%;
    z-index: 10;
    padding: 5px 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
form{
    margin-top: 8px;
}
form input{
    outline: none;
    width: 400px;
    height: 30px;
    margin: 0;
    border: 0;
    padding: 0 5px;
    background: rgb(54, 54, 54);
    color: aliceblue;

}
form button{
    border: none;
    border-radius: 0;
    height: 30px;
    width: 50px;
    background:#74AD5C ;
}
form button:hover{
    opacity: .7;
}