figure{
    text-align: center;
    width: 100%;
}
figure div{
    min-height: 350px;
    min-width: 250px;
    -webkit-box-shadow: 1px 0px 12px -2px rgba(234, 234, 234, 0.602);
    -moz-box-shadow: 1px 0px 12px -2px rgba(224, 224, 224, 0.75);
    box-shadow: 1px 0px 12px -2px rgba(228, 226, 226, 0.282);
}
figure figcaption{
    color: rgb(181, 179, 179);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 2px;
    text-align: center;
    width: 100%;
}

a:hover{
    cursor: pointer;
    transform: translateY(-1px);
}

figure img{
    max-width: 100%;
    height: 100%;
    
}